<div class="container">
    <div class="card">
      <div class="card__header">
        <h1>Practica 2</h1>
      </div>
      <div class="card__body">
        <h4>-Edson Guix </h4>    
           <h4>- Jhonnatan Enmanuel Orantes Garcia</h4> 
        <p>201709164
        </p>   
        <p>
            201701029
         </p>
      </div>
      <div class="card__footer">
        <div class="user">
          <div class="user__info">
            <h5>Pareja #1</h5>
            <small>Software Avanzado B</small>
          </div>
        </div>
      </div>
    </div>
    
  </div>
